<table>
    <tr>
        <td>
            <p>Carlos Ehytam Gutierrez Votte</p>
            <p>Futuro egrsado de ingenieria de software</p>
        </td>
        <td>
            <img src="https://firebasestorage.googleapis.com/v0/b/pruebas-400fa.appspot.com/o/foto-perfil.enc?alt=media&token=91543294-ccd7-42e7-acaa-12c5c9047c5a" alt="Imagen de perfil">
        </td>
        <td>
            <ul>
                <li>gutierrezvottecarlosgmail</li>
                <li>2722915950</li>
                <li>BuenaVista, Ixtac</li>
                
            </ul>
        </td>
    </tr>
</table>