/* Estilos generales para los títulos */
h3 {
    font-size: 1.8em;
    color: #3498db;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Estilo para las listas generales */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px; /* Espaciado reducido para las listas */
    padding-left: 10px;
    position: relative;
    font-size: 1.1em;
    line-height: 1.5;
}

/* Añadir un icono de marcador para cada elemento */
li::before {
    content: "•"; /* Marcador de lista */
    color: #3498db;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* Estilo para el strong (títulos de cada dato) */
strong {
    color: #2c3e50;
    font-weight: bold;
    display: block; /* Asegura que cada fuerte ocupe una línea completa */
    margin-top: 15px; /* Añade espacio entre cada sección */
}

/* Estilos para las sublistas dentro de los logros */
li ul {
    list-style-type: none;
    padding-left: 20px;
}

li ul li {
    margin-bottom: 5px;
    padding-left: 5px;
    font-size: 1em;
    color: #666;
}

/* Añadir un pequeño icono de marcador para los logros */
li ul li::before {
    content: "–"; /* Marcador para sublistas */
    color: #3498db;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
