<table border="1">
<tr>
    <td colspan="3">
        <app-header></app-header>
    </td>
 </tr>

 <tr>
    <td>
     <ul>
        <app-work-experience></app-work-experience>
     </ul>
    </td>

    <td>
        <ul>
            <app-interests></app-interests>
            <app-skills></app-skills>
        </ul>

    </td>
  
    
 </tr>
 <tr>

    <td>
        
        <app-achievements></app-achievements>
    </td>
    <td>
        <app-lenguages></app-lenguages>
        <app-education></app-education>
    </td>
 </tr>
 <tr>
   
    
  
    
</tr>

</table>