/* Estilos generales para los títulos */
h2 {
    font-size: 2em; /* Mayor tamaño para títulos de nivel 2 */
    color: #3498db;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Estilo para las listas generales */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px; /* Espaciado entre elementos de la lista */
    padding-left: 10px;
    position: relative;
    font-size: 1.1em;
    line-height: 1.5;
}

/* Añadir un icono de marcador para cada elemento */
li::before {
    content: "•"; /* Marcador de lista */
    color: #3498db;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* Estilo para el strong (títulos de cada certificación) */
strong {
    color: #2c3e50;
    font-weight: bold;
}

/* Asegurar que el strong tenga un espaciado adecuado */
li strong {
    margin-right: 5px; /* Añadir un poco de espacio después del fuerte */
}
